.highlight {
    background: #F7FF97;
}
.highlight-blue {
    background: #70A3E7;
}
h1 {
    font-family: 'Alfa Slab One', serif;
    font-size: 37px;
    color: #424242;
    line-height: 120%;    
    margin-bottom: 5px;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #424242;
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #424242;
    line-height: 120%;
    margin: 10px 0;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #424242;
    line-height: 28px;
}
.topper, .footer {
    height: 14px;
    width: 100%;
    background: #70A3E7;
}
.topper {
    margin-bottom: 40px;
}
.footer {
    margin-top: 40px;
}
img.portrait {
    width: 75px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
}
img.social {
    width: 25px;
    height: auto;
}
header {
    max-width: 550px;
    margin: 0px auto;
    margin-bottom: 40px;
}
header p {
    font-size: 27px;
}
.row.three {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 25px;
    margin-bottom: 25px;    
}
.center {
    text-align: center;
}
ul {
    list-style-type:none;
}
ul.work-list {
    margin: 20px auto !important;
    float: none;
    width: 450px !important;
}
ul.work-list li {
    padding-left: 14px;
}
.button {
    padding: 0 20px;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    border: none;
}
.button-writing {
    background-color: rgba(112, 163, 231, 0.4);
}
.button-code {
    background-color: rgba(247, 255, 151, 0.4);
}
.li-writing {
    border-left: 8px solid rgba(112, 163, 231, 0.4);
}
.li-code {
    border-left: 8px solid rgba(247, 255, 151, 0.4);
}

@media (min-width: 750px) {
    h1 {
        font-size: 52px;
    }
    .topper {
        margin-bottom: 60px;
    }
    .footer {
        margin-top: 60px;
    }
}