h1 {
    font-size:80px;
    line-height:120%;
    margin-bottom:20px;
    font-family:'Chunkfive', Georgia, serif;
}
h2 {
    font-family:'Chunkfive', Georgia, serif;
    font-size:45px;
    line-height:120%;
    margin-bottom:25px;
}
h3 {
    font-family:'Chunkfive', Georgia, serif;
    font-size:22px;
    line-height:120%;
    margin-bottom:10px;
}
h4 {
    font-family:'League Gothic';
    font-size:22px;
}
footer {
    background-color:#4C7183;
    padding:15px 0;
    font-size:16px;
    color: #fff;
}
.topper {
    background-color:#4C7183;
    padding:40px 0;
    margin-bottom:40px;
    text-align:center;
    color: #fff;
}
.topper img {
    width:150px;
    height:auto;
    border:3px white solid;
}
.topper p {
    font-size:18px;
}
.section {
    margin-bottom:75px;
}
.section img, .old img {
    max-width:100%;
    height:auto;
}
.section p {
    font-size:16px;
}
.row.old {
    margin-bottom:60px;
}
.old p {
    font-size:15px;
    margin-top:8px;
}